@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
}

section {
  text-align: center;
}

input,
button {
  margin: 20px 0;
  padding: 2px 7px;
  font-size: 1.2rem;
}

button#trash i {
  color: red;
}

li {
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
}

li i {
  padding-left: 20px;
  color: red;
  font-size: 1.3rem;
  cursor: pointer;
}

.test {
  margin: 50px auto;
  text-align: center;
}

.fetch,
.create {
  margin: 10px;
}

#info {
  border: 1px solid #bbb;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}

#info ul li {
  margin: 1px 10px;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.user::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f007';
}

.email::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: '\f0e0';
}

.phone::before {
  /* font-family: "Font Awesome 5 Brands"; content: "\f879"; */
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  content: '\f095';
}
